.userArea{
    display: flex;
    background-color: var(--accent-background);
    width: 95%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: var(--border-radius);
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-weight: 700;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.avatar{
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.userReading{
    position: relative; 
    background-color: var(--accent-background);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 20rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.readingActionBtn {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;

  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;

  border: none;
  background: var(--secondary-background);
  color: var(--secondary-text);

  font-size: 1rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 5;

  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: all 0.2s ease;
}

.readingActionBtn:hover {
  transform: scale(1.1);
}

.readingActionBtn:active {
  transform: scale(0.95);
}

.userReading h3{
    margin: 0;
    padding: 0;
}

.userReading p{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--accent-text)
}

.userReadingsGrid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    row-gap: 2rem;

    width: 95%;
    margin: 0 auto;

    padding: 16px 16px 4rem; /* ← bottom breathing room */
    box-sizing: border-box;

    height: auto;
}

.accountReadingsTitle{
    color: var(--main-text);
}

.accountLoginBtn{
    padding: 1rem;
    border-radius: var(--border-radius);
    font-family: "Literata", serif;
    outline: none;
    border: 2px solid transparent;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--accent-text);
    color: var(--accent-background);
    cursor: pointer;
}

.editReadingsBtn{
  padding: 1rem;
    border-radius: var(--border-radius);
    font-family: "Literata", serif;
    outline: none;
    border: 2px solid transparent;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--main-text);
    color: var(--main-background);
    cursor: pointer;
}


